In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
import os

In [8]:
uber_raw = pd.read_csv(r"C:\Users\Baleo\Desktop\tutors\udemy\Data_Analysis_Real_world_use_cases\Uber\Datasets\uber-raw-data-janjune-15_sample.csv")

In [10]:
uber_raw.shape

(100000, 4)

In [11]:
#data cleaning
type(uber_raw)

pandas.core.frame.DataFrame

In [13]:
uber_raw.duplicated().sum()

54

In [14]:
uber_raw.drop_duplicates(inplace=True)

In [15]:
uber_raw.duplicated().sum()

0

In [16]:
uber_raw.dtypes

Dispatching_base_num    object
Pickup_date             object
Affiliated_base_num     object
locationID               int64
dtype: object

In [18]:
uber_raw.isnull().sum()

Dispatching_base_num       0
Pickup_date                0
Affiliated_base_num     1116
locationID                 0
dtype: int64

In [20]:
uber_raw['Pickup_date'][0]

'2015-05-02 21:43:00'

In [21]:
type(uber_raw['Pickup_date'][0])

str

In [23]:
uber_raw['Pickup_date'] = pd.to_datetime(uber_raw['Pickup_date'])

In [24]:
type(uber_raw['Pickup_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [25]:
uber_raw.dtypes

Dispatching_base_num            object
Pickup_date             datetime64[ns]
Affiliated_base_num             object
locationID                       int64
dtype: object

In [30]:
uber_raw

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,month
0,B02617,2015-05-02 21:43:00,B02764,237,May
1,B02682,2015-01-20 19:52:59,B02682,231,January
2,B02617,2015-03-19 20:26:00,B02617,161,March
3,B02764,2015-04-10 17:38:00,B02764,107,April
4,B02764,2015-03-23 07:03:00,B00111,140,March
...,...,...,...,...,...
99995,B02764,2015-04-13 16:12:00,B02764,234,April
99996,B02764,2015-03-06 21:32:00,B02764,24,March
99997,B02598,2015-03-19 19:56:00,B02598,17,March
99998,B02682,2015-05-02 16:02:00,B02682,68,May
99999,B02764,2015-06-24 16:04:00,B02764,125,June

In [33]:
uber_raw['month'] = uber_raw['Pickup_date'].dt.month_name()  #dt - date_time

In [37]:
uber_raw['month']

0            May
1        January
2          March
3          April
4          March
          ...
99995      April
99996      March
99997      March
99998        May
99999       June
Name: month, Length: 99946, dtype: object